<div class="container">
    <div class="left-section">
      
      <a routerLink="/dashboard" >
        <mat-icon class="home">home</mat-icon>
      </a>
                <div class="user-container">
                  <mat-icon class="user-icon">account_circle</mat-icon>
                  <br>
                  <div class="greeting">Hello User</div>
                </div>  
        <button *ngIf="isLoggedIn" (click)="logout()" class="button-logout">Logout</button>
      </div>
      
  </div>
  