<div class="login-container">
  <img src="../../assets/smarttrack-logo-2.jpg" alt="Logo">

  <mat-card class="loginn" *ngIf="!showSignup">
    <mat-card-content>
      <mat-card-title class="login">Login</mat-card-title>
      <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required>
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Invalid email format</mat-error>
        </mat-form-field> 
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error *ngIf="loginForm.get('password')?.hasError('invalidPassword')">Invalid password</mat-error>

          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
        </mat-form-field>
        <button mat-raised-button class="custom-sign-in-button" type="submit">Sign In</button>
      </form>
      <button mat-raised-button class="custom-sign-in-buttonn" (click)="showSignup = true">Create Account</button>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="signUp" *ngIf="showSignup">
    <mat-card-content>
      <mat-card-title>Sign Up</mat-card-title>
      <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="username" required>
          <mat-error *ngIf="signupForm.get('username')?.hasError('required')">Username is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required>
          <mat-error *ngIf="signupForm.get('email')?.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="signupForm.get('email')?.hasError('email')">Invalid email format</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error *ngIf="signupForm.get('password')?.hasError('required')">Password is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <input matInput type="text" formControlName="phoneNumber" required>
          <mat-error *ngIf="signupForm.get('phoneNumber')?.hasError('required')">Phone number is required</mat-error>
        </mat-form-field>
        <button mat-raised-button class="signupp" (click)="onSignupSubmit" type="submit">Sign Up</button>
        <button mat-raised-button class="login-button" (click)="reloadPage()">Login</button>
  </form>
    </mat-card-content>
  </mat-card>
</div>
